<?xml version="1.0"?>
<launch>
    <!-- primary sensor launch script -->
    <!-- Launches vision nodes for aruco marker detection -->

    <!-- example tags to use -->
    <!-- example: arg name="name" default="default" -->
    <!-- example: env name="ENV_VAR" value="some_value" -->
	 <!-- example conditional arg: -->
    <!-- arg unless="bool_arg" name="name" value="some_value" -->
    <!-- arg     if="bool arg" name="name" value="some_other_value" -->
    <!-- node name="name" pkg="pkg" type="type_of_node" output="screen" args="any addtl args">
    </node -->
    <!-- include file="$(find pkg)/launch/node.launch">
	<arg name="some_arg" value="some_value" />
    </include -->

    <include file="$(find marker_detection)/launch/start_marker_det_nodes.launch">
	<!--arg name="some_arg" value="some_value" /-->
    </include>
</launch>
